html {
    scroll-behavior: smooth;
}

body {
    background-image: url('../img/background.png');
    background-color: #2c2c33;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
}

@media screen and (min-width: 1024px) {
    main {
        max-width: 1024px;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #202024;
}

.text-header {
    display: inline-block;
    font-size: 0.875rem;
    font-weight: 500;
    margin: 1.1rem;
}

@media screen and (min-width: 1024px) {
    .text-header {
        font-size: 1.1rem;
        margin: 1.5rem;
    }
}

.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

.menu {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

#home {
    display: flex;
    padding-top: 6rem;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #202024;
    width: 22rem;
    height: 30rem;
    border-radius: 0.375rem;
    margin: 0 auto 0.875rem auto;
}

.icon {
    width: 12rem;
    height: 12rem;
    background-color: #2c2c33;
    border-radius: 9999px;
}

.text-home {
    font-size: 1.3rem;
    font-weight: 900;
    line-height: 2.5rem;
    margin-top: 1rem;
}

.name-home {
    font-size: 2rem;
}

.name-home::after {
    content: '|';
    margin-left: 0.3125rem;
    opacity: 1;
    animation: blink 0.7s infinite;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.links {
    display: flex;
    gap: 0.75rem;
}

.information {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    margin-top: 1rem;
    font-size: 1rem;
}

.button-info {
    height: 2.5rem;
    width: 7rem;
    background-color: #2c2c33;
    padding: 1rem;
    border-radius: 0.375rem;
}

button:hover {
    cursor: pointer;
}

.img-info {
    width: 1rem;
    height: 1rem;
}

@media screen and (min-width: 1024px) {
    #home {
        padding-top: 11.5rem;
    }

    .home {
        flex-direction: row;
        gap: 7rem;
        width: 64rem;
        height: 22.875rem;
    }

    .icon {
        width: 16rem;
        height: 16rem;
    }

    .text-home {
        font-size: 1.5rem;
        line-height: 3rem;
        margin-top: 0;
    }

    .name-home {
        font-size: 3rem;
    }
}

.about-me {
    padding-top: 6rem;
}

.me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #202024;
    width: 22rem;
    height: 22rem;
    border-radius: 0.375rem;
    margin: 0 auto 0.875rem auto;
}

@media screen and (min-width: 1024px) {
    .about-me {
        display: flex;
        padding-top: 11.5rem;
    }

    .me {
        width: 18rem;
        height: 22.875rem;
        border-radius: 0.375rem;
        margin: 0;
    }
}

.portrait {
    width: 11rem;
    height: 11rem;
    border-radius: 9999px;
}

.name-me {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.localization {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    margin-top: 0.5rem;
}

.box-about-me {
    width: 22rem;
    height: 10rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.875rem;
    background-color: #202024;
    border-radius: 0.375rem;
}

.title {
    padding: 1rem;
    font-size: 1rem;
    font-weight: 700;
}

.paragraph {
    text-align: justify;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 0.875rem;
    line-height: 1.5rem;
}

.technologies {
    display: flex;
    justify-content: space-between;
}

.tech-list {
    display: flex;
    gap: 0.25rem;
    justify-content: start;
    padding-top: 1rem;
    padding-left: 1rem;
}

.img-tech {
    width: 1.5rem;
    height: 1.5rem;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 5rem;
    background-color: #0c0e0f;
    color: #fff;
    text-align: center;
    font-size: 0.75rem;
    border-radius: 0.125rem;
    padding: 0.4375rem 0;
    position: absolute;
    z-index: 1;
    top: 110%;
    left: 115%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -0.3125rem;
    border-width: 0.3125rem;
    border-style: solid;
    border-color: transparent transparent #0c0e0f transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

@media screen and (min-width: 1024px) {
    .box-about-me {
        width: 700px;
        height: 11rem;
        margin-left: 2.5rem;
        margin-bottom: 0.875rem;
    }

    .title {
        padding: 2rem 2rem 1.25rem 2rem;
        font-size: 1.5rem;
    }

    .paragraph {
        padding-left: 2rem;
        padding-right: 2rem;
        font-size: 1rem;
    }

    .technologies {
        justify-content: start;
    }

    .tech-list {
        padding-top: 0.4375rem;
        padding-left: 2rem;
    }

    .img-tech {
        width: 2rem;
        height: 2rem;
    }
}

#projects {
    display: flex;
    flex-direction: column;
    margin: 0 auto 0.875rem auto;
    padding: 6rem 0rem 3rem;
}

.box-projects {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 22rem;
    height: 7rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.875rem;
    background-color: #202024;
    border-radius: 0.375rem;
    transition: 0.5s;
}

.box-projects:hover {
    transform: scale(108%);
}

.img-projects {
    width: 8rem;
    height: 6rem;
    margin-left: 0.5rem;
    border-radius: 0.375rem;
}

.text-projects {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title-projects {
    padding-left: 1rem;
    padding-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
}

.paragraph-projects {
    padding: 0 0 0 1rem;
    font-size: 0.75rem;
}

.tech-list-projects {
    display: flex;
    gap: 0.25rem;
    justify-content: start;
    padding-top: 1rem;
    padding-left: 1rem;
}

@media screen and (min-width: 1024px) {
    #projects {
        flex-direction: row;
        padding: 11.5rem 0rem 11rem;
    }

    .box-projects {
        flex-direction: column;
        width: 20rem;
        height: 22.875rem;
    }

    .img-projects {
        width: 19rem;
        height: 14rem;
        margin: 0.5rem 0 1rem 0;
    }

    .text-projects {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .title-projects {
        padding-left: 0;
        padding-bottom: 0.5rem;
        font-size: 1.3rem;
        font-weight: 700;
    }

    .paragraph-projects {
        padding: 0.5rem 0;
        font-size: 0.9rem;
        text-align: center;
    }

    .tech-list-projects {
        display: flex;
        gap: 0.25rem;
        justify-content: start;
        padding: 0.75rem 0;
    }
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #202024;
    padding: 2rem 0;
    font-size: 1.1rem;
    line-height: 2rem;
}